<div id="questions">
  <% @questions_nav_selected_item = 'selected_index' %>
  <%= render 'nav' %>
  <div class="lt">
    <%= render :partial => 'list', :locals => {:items => @questions} %> 
  </div>
  <div class="rt">
    <%= render 'sidebar' %>
  </div>
</div>

<div class="clear_both"></div>




<% content_for :search_form do %>
  <%= render 'form_search' %>
<% end %>
