<div id="questions">
  <%= render 'questions/nav' %>
  <div class="lt">
    <%= render 'form' %>
  </div>
  <div class="rt">
    <%= render 'questions/sidebar' %>
  </div>
</div>

<div class="clear_both"></div>



<% content_for :search_form do %>
  <%= render 'questions/form_search' %>
<% end %>
