body {
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: arial,sans-serif;
}
#container {
  border-top: solid 4px #E00;
}
#header {
}
#header .nav {
  background-color: #2D2D2D;
  border-bottom: solid 1px #000;
  height: 30px;
  overflow: hidden;
}
#header .nav ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 30px;
  line-height: 30px;
  float: left;
}
#header .nav ul li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  overflow: hidden;
}
#header .nav ul li a {
  display: block;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  border-right: solid 1px #333;
  font-size: 14px;
  color: #999;
  font-style: bold;
  text-decoration: none;
  overflow: hidden;
}
#header .nav ul li a:hover {
  background-color: #333;
  color: #CCC;
}
#header .nav ul.home li.home a,
#header .nav ul.brand li.brand a,
#header .nav ul.car_model li.car_model a,
#header .nav ul li a.selected {
  background-color: #666;
  color: #FFF;
  font-weight: bold;
}
#header .nav ul li.shown a {
  background-color: #FFF;
  color: #00C;
  font-weight: bold;
}
.nav_more_menu {
  position: absolute;
  left: 425px;
  top: 34px;
  padding: 10px 0;
  background-color: #FFF;
  border: solid 1px #999;
  border-top: none;
  display: none;
}
.nav_more_menu ul, .nav_more_menu ul li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav_more_menu ul li a {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 14px;
  color: #00C;
  text-decoration: none;
}
.nav_more_menu ul li a:hover {
  background-color: #CCC;
}
#header .nav .right {
  float: right;
  line-height: 30px;
  padding-right: 10px;
  font-size: 12px;
}
#header .nav .right label {
  padding-right: 10px;
  font-weight: bold;
  color: #FFF;
}
#header .nav .right a {
  color: #999;
  text-decoration: none;
}
#header .nav .right a:hover {
  text-decoration: underline;
}
#search_bar {
  padding:15px 40px;
  background-color: #F1F1F1;
  border-bottom: solid 1px #E5E5E5;
}
#site_nav {
  padding: 0 40px;
  background-color: #F1F1F1;
  border-bottom: solid 1px #E5E5E5;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  color: #666;
}
#site_nav .sep {
  padding: 0 10px;
  font-family: 宋体;
  color: #999;
}
#site_nav a {
  color: #00C;
  text-decoration: none;
}
#site_nav a:hover {
  color: #FFF;
}
#site_nav .first {
  font-weight: bold;
}

#main {
  padding: 20px 40px;
}

#main .tools_bar {
  margin-bottom: 10px;
  height: 20px;
  line-height: 20px;
}
#main .tools_bar .right {
  float:right;
}

#footer {
  height: 30px;
}



/* TABLE

----------------------------------------------------------*/



  table.list 

  {

    width: 100%;

    border: none;

    border-collapse: collapse; 

    line-height:25px; 

    background-color:#fff;

  }

  table.list th

  {

    padding: 7px 10px;

    text-align: left; vertical-align:bottom; white-space:nowrap;

    background-color: #ebebeb; 

    border: solid 1px #fff; border-left:none;

  }

  table.list td 

  {

    padding: 5px 10px;   

    border: solid 1px #fff; border-left:none;

  }

  table.list tr.double td

  {  

    background: #f8f8f8;  

  }

  table.list tr.over td

  {  

    border-bottom:1px solid #ccc;

    background: #f4f4f4;

  }

  table.list tr .over-then-show{display:none;}

  table.list tr.over .over-then-show{display:block;} 

  table.list td.operation

  {

    width:10px; white-space:nowrap;    

  } 

  table.list td.operation *

  {

    white-space:nowrap;    

  }







  /*分页控件样式*/

  .pages {padding:2px 0; line-height:24px; font-size:14px; font-family:Arial;}

  .pages  .item a{} /*数字页索引样式*/

  .pages .cpb {padding:5px 6px; margin-right:8px; font-weight:bold; color:#000;} /*当前页样式*/

  .pages a {text-decoration:none; padding:4px 10px; border: solid 1px #E7ECF0; background-color:#fff; margin-right:8px; color:#00c; font-weight:normal; overflow:hidden;}

  .pages a:hover { background-color: #E7ECF0; color:#00c; border:1px solid #E7ECF0; text-decoration:none; font-weight:normal;}

  .pages-right{float:right; line-height:28px; padding-top:5px;}





  p.summary{font-size:14px; color:#999;}

  p.summary b{padding:0 5px; font-size:18px; color:#000;}
