#cars {
  float: left;
  width: 960px;
  padding-bottom: 10px;
  overflow: hidden;
  background: #fff image-url("bg_white.gif") repeat-y -730px 0;
}
#cars .lt {
  float: left;
  width: 230px;
  padding: 30px;
}
#cars .rt {
  float: right;
  width: 601px;
  padding: 30px;
}

#cars .brand_selector_list {
  width: 200px;
  padding-bottom: 30px;
  overflow: hidden;
}
#cars .brand_selector_list .title_bar .title {
  border-bottom: dotted 1px #EBEBEB;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
  height: 25px;
  font-size: 14px;
  font-weight: bold;
}
#cars .brand_selector_list .list ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 210px;
  overflow: hidden;
}
#cars .brand_selector_list .list ul li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 98px;
  margin-right: 4px;
  height: 20px;
  overflow: hidden;
}
#cars .brand_selector_list .list ul li a {
  display: block;
  line-height: 20px;
  font-size: 12px;
  color: #666;
  text-decoration: none;
}
#cars .brand_selector_list .list ul li a:hover {
  background: #999;
  color: #FFF;
}

#cars .car_list {
  margin-top: 20px;
}
#cars .car_list .list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  width: 750px;
  overflow: hidden;
}
#cars .car_list .list ul li {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  width: 300px;
  height: 340px;
  margin-right: 1px;
  margin-bottom: 1px;
  overflow: hidden;
  background: #f8f8f8;
}
#cars .car_list .list a.img {
  height: 300px;
  display: block;
  overflow:hidden;
}
#cars .car_list .list a.img img {
  width: 300px;
  height: 300px;
  border: none;
}
#cars .car_list .list a.name {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  background: #f8f8f8;
  color: #000;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
}
#cars .car_list .list a.name:hover {
  background: #999;
  color: #fff;
}
