<form action="/search/cars"  method="get" name="search">
  <div class="text_border">
    <input type="text" name="q" class="q" value="<%= params[:q] %>" placeholder="请输入汽车关键字" />
  </div>
  <a class="btn btn_submit" href="javascript:document.search.submit();">搜索汽车</a>
</form>
